{% extends 'base.html.twig' %}

{% block title %}
	{{ 'account.reservation.title'|trans }}
{% endblock %}


{% block body %}
	<div class="min-h-screen bg-slate-50 text-slate-900">
		{% include 'user/_partials/_navbar.html.twig' %}
	</div>


{% endblock %}
